{
  "overrides": [
    {
      "files": "**/*.sol",
      "options": {
        "printWidth": 100,
        "tabWidth": 2
      }
    },
    {
      "files": "**/*.js",
      "options": {
        "bracketSpacing": true,
        "printWidth": 100,
        "tabWidth": 2,
        "trailingComma": "es5",
        "singleQuote": true
      }
    }
  ]
}
